.THIS .hc-section__title {
  font-size: 1.2rem;
}

.THIS .slds-list__item.hc-cart-item {
  border-bottom-style: dashed;
}

.THIS .hcShoppingCartTemplateBadge {
    background-color: #4BC076;
    border-radius: 0.125rem;
    color: #fff;

    position: absolute;
      right: 0;
      top: 50%;
    transform: translateY(-50%);
}