@media all and (max-width: 768px) {
	.THIS .hc-uimenu__item > a {
    	padding: 0.5rem 0.75rem;
    	white-space: nowrap;
    	overflow-x: hidden;
		text-overflow: ellipsis;
	}
}

.THIS{
    opacity:1;
}

.THIS .hc-hrdiv {
	width: 100%;
	height: 2px;
	background: rgb(224, 229, 238);
	overflow: hidden;
}

.THIS .uiMenuItem>a {
	height: 2em;
}

.THIS .slds-dropdown--menu {
    opacity:1;
}

.THIS .HCZindex{
    z-index:2;
}